@use '../variables' as *;
@use '../media' as *;

.store {
	padding: 120px 0;

	&__nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 40px;

		@include mobile {
			flex-wrap: wrap;
			justify-content: end;
			gap: 30px;
		}
	}

	&__categories {
		display: flex;
		gap: 28px;

		@include mobile {
			flex-grow: 1;
			gap: 16px;
			overflow-x: auto;
		}
	}

	&__category-button {
		position: relative;
		color: $carrot;
		padding-bottom: 10px;

		&--active {
			color: $green;
		}

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 1px;
			background-color: $green;
			transform: scaleX(0);
			transition: transform 0.3s ease-in-out;
		}

		&--active::after {
			transform: scaleX(1);
		}
	}

	&__cart-button {
		position: relative;
		display: block;
		width: 28px;
		height: 28px;
		
		@include bigscreen {
			width: 32px;
			height: 32px;
		}

		@include mobile {
			display: flex;
			justify-content: center;
			align-items: end;
		}
	}

	&__cart-cnt {
		position: relative;
		z-index: 2;
		font-weight: 700;
		font-size: 12px;
		line-height: 1;
		color: $light;
		
		@include bigscreen {
			vertical-align: middle;
		}

		@include mobile {
			line-height: 1.6;
		}
	}

	&__cart-icon {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		content: '';
		z-index: 1;
	}

	&__title {
		font-weight: 700;
		font-size: 52px;
		color: $green;
		line-height: 1.3;
		margin-bottom: 32px;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fill, 420px);
		justify-content: center;
		gap: 20px;

		@include mobile {
			grid-template-columns: 1fr;
		}
	}

	&__item {
		display: flex;
		justify-self: center;
	}
}
